<h1> NAME </h1>
<p> Steven Tan </p>
<br/>

<h1> PHOTO </h1>
<img src="assets/me.jpg">
<br/>

<h1> HOMETOWN </h1>
<p id="home"> San Jose, CA </p>
<br/>

<h1> YEAR </h1>
<p> Sophomore </p>
<br/>

<h1> FUN FACT </h1>
<p id="fun"> I like performing magic </p>
<br/>

<h1> I AM EXCITED </h1>
<p id= "excitement"> to design my own webpage!!!! GO BEARS!!! </p>